<br>
<br>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="card text-center" [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Question Input</label>
                <input type="text" class="form-control" formControlName="questionValue" #questionValue />
            </div>
            <div *ngIf="angForm.controls['questionValue'].invalid && (angForm.controls['questionValue'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['questionValue'].errors.required">
                    Question is required.
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option A</label>
                        <input type="text" class="form-control" formControlName="choice1" #choice1/>
                    </div>
                    <div *ngIf="angForm.controls['choice1'].invalid && (angForm.controls['choice1'].dirty || angForm.controls['choice1'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice1'].errors.required">
                            Choice 1 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option B</label>
                        <input type="text" class="form-control" formControlName="choice2" #choice2/>
                    </div>
                    <div *ngIf="angForm.controls['choice2'].invalid && (angForm.controls['choice2'].dirty || angForm.controls['choice2'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice2'].errors.required">
                            Choice 2 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option C</label>
                        <input type="text" class="form-control" formControlName="choice3" #choice3/>
                    </div>
                    <div *ngIf="angForm.controls['choice3'].invalid && (angForm.controls['choice3'].dirty || angForm.controls['choice3'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice3'].errors.required">
                            Choice 3 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option D</label>
                        <input type="text" class="form-control" formControlName="choice4" #choice4/>
                    </div>
                    <div *ngIf="angForm.controls['choice4'].invalid && (angForm.controls['choice4'].dirty || angForm.controls['choice4'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice4'].errors.required">
                            Choice 4 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Correct Option (Only Write A,B,C or D)</label>
                <input type="text" class="form-control" formControlName="correctOption" #correctOption/>
            </div>
            <div *ngIf="angForm.controls['correctOption'].invalid && (angForm.controls['correctOption'].dirty || angForm.controls['correctOption'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['correctOption'].errors.required">
                    Correct Answer is required.
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="card text-center" [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Question Input</label>
                <input type="text" class="form-control" formControlName="questionValue" #questionValue />
            </div>
            <div *ngIf="angForm.controls['questionValue'].invalid && (angForm.controls['questionValue'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['questionValue'].errors.required">
                    Question is required.
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option A</label>
                        <input type="text" class="form-control" formControlName="choice1" #choice1 />
                    </div>
                    <div *ngIf="angForm.controls['choice1'].invalid && (angForm.controls['choice1'].dirty || angForm.controls['choice1'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice1'].errors.required">
                            Choice 1 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option B</label>
                        <input type="text" class="form-control" formControlName="choice2" #choice2 />
                    </div>
                    <div *ngIf="angForm.controls['choice2'].invalid && (angForm.controls['choice2'].dirty || angForm.controls['choice2'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice2'].errors.required">
                            Choice 2 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option C</label>
                        <input type="text" class="form-control" formControlName="choice3" #choice3 />
                    </div>
                    <div *ngIf="angForm.controls['choice3'].invalid && (angForm.controls['choice3'].dirty || angForm.controls['choice3'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice3'].errors.required">
                            Choice 3 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option D</label>
                        <input type="text" class="form-control" formControlName="choice4" #choice4 />
                    </div>
                    <div *ngIf="angForm.controls['choice4'].invalid && (angForm.controls['choice4'].dirty || angForm.controls['choice4'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice4'].errors.required">
                            Choice 4 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Correct Option (Only Write A,B,C or D)</label>
                <input type="text" class="form-control" formControlName="correctOption" #correctOption />
            </div>
            <div *ngIf="angForm.controls['correctOption'].invalid && (angForm.controls['correctOption'].dirty || angForm.controls['correctOption'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['correctOption'].errors.required">
                    Correct Answer is required.
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="card text-center" [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Question Input</label>
                <input type="text" class="form-control" formControlName="questionValue" #questionValue />
            </div>
            <div *ngIf="angForm.controls['questionValue'].invalid && (angForm.controls['questionValue'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['questionValue'].errors.required">
                    Question is required.
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option A</label>
                        <input type="text" class="form-control" formControlName="choice1" #choice1 />
                    </div>
                    <div *ngIf="angForm.controls['choice1'].invalid && (angForm.controls['choice1'].dirty || angForm.controls['choice1'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice1'].errors.required">
                            Choice 1 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option B</label>
                        <input type="text" class="form-control" formControlName="choice2" #choice2 />
                    </div>
                    <div *ngIf="angForm.controls['choice2'].invalid && (angForm.controls['choice2'].dirty || angForm.controls['choice2'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice2'].errors.required">
                            Choice 2 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option C</label>
                        <input type="text" class="form-control" formControlName="choice3" #choice3 />
                    </div>
                    <div *ngIf="angForm.controls['choice3'].invalid && (angForm.controls['choice3'].dirty || angForm.controls['choice3'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice3'].errors.required">
                            Choice 3 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option D</label>
                        <input type="text" class="form-control" formControlName="choice4" #choice4 />
                    </div>
                    <div *ngIf="angForm.controls['choice4'].invalid && (angForm.controls['choice4'].dirty || angForm.controls['choice4'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice4'].errors.required">
                            Choice 4 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Correct Option (Only Write A,B,C or D)</label>
                <input type="text" class="form-control" formControlName="correctOption" #correctOption />
            </div>
            <div *ngIf="angForm.controls['correctOption'].invalid && (angForm.controls['correctOption'].dirty || angForm.controls['correctOption'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['correctOption'].errors.required">
                    Correct Answer is required.
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="card text-center" [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Question Input</label>
                <input type="text" class="form-control" formControlName="questionValue" #questionValue />
            </div>
            <div *ngIf="angForm.controls['questionValue'].invalid && (angForm.controls['questionValue'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['questionValue'].errors.required">
                    Question is required.
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option A</label>
                        <input type="text" class="form-control" formControlName="choice1" #choice1 />
                    </div>
                    <div *ngIf="angForm.controls['choice1'].invalid && (angForm.controls['choice1'].dirty || angForm.controls['choice1'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice1'].errors.required">
                            Choice 1 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option B</label>
                        <input type="text" class="form-control" formControlName="choice2" #choice2 />
                    </div>
                    <div *ngIf="angForm.controls['choice2'].invalid && (angForm.controls['choice2'].dirty || angForm.controls['choice2'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice2'].errors.required">
                            Choice 2 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option C</label>
                        <input type="text" class="form-control" formControlName="choice3" #choice3 />
                    </div>
                    <div *ngIf="angForm.controls['choice3'].invalid && (angForm.controls['choice3'].dirty || angForm.controls['choice3'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice3'].errors.required">
                            Choice 3 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option D</label>
                        <input type="text" class="form-control" formControlName="choice4" #choice4 />
                    </div>
                    <div *ngIf="angForm.controls['choice4'].invalid && (angForm.controls['choice4'].dirty || angForm.controls['choice4'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice4'].errors.required">
                            Choice 4 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Correct Option (Only Write A,B,C or D)</label>
                <input type="text" class="form-control" formControlName="correctOption" #correctOption />
            </div>
            <div *ngIf="angForm.controls['correctOption'].invalid && (angForm.controls['correctOption'].dirty || angForm.controls['correctOption'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['correctOption'].errors.required">
                    Correct Answer is required.
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="card text-center" [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Question Input</label>
                <input type="text" class="form-control" formControlName="questionValue" #questionValue />
            </div>
            <div *ngIf="angForm.controls['questionValue'].invalid && (angForm.controls['questionValue'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['questionValue'].errors.required">
                    Question is required.
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option A</label>
                        <input type="text" class="form-control" formControlName="choice1" #choice1 />
                    </div>
                    <div *ngIf="angForm.controls['choice1'].invalid && (angForm.controls['choice1'].dirty || angForm.controls['choice1'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice1'].errors.required">
                            Choice 1 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option B</label>
                        <input type="text" class="form-control" formControlName="choice2" #choice2 />
                    </div>
                    <div *ngIf="angForm.controls['choice2'].invalid && (angForm.controls['choice2'].dirty || angForm.controls['choice2'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice2'].errors.required">
                            Choice 2 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option C</label>
                        <input type="text" class="form-control" formControlName="choice3" #choice3 />
                    </div>
                    <div *ngIf="angForm.controls['choice3'].invalid && (angForm.controls['choice3'].dirty || angForm.controls['choice3'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice3'].errors.required">
                            Choice 3 is required.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-4">Option D</label>
                        <input type="text" class="form-control" formControlName="choice4" #choice4 />
                    </div>
                    <div *ngIf="angForm.controls['choice4'].invalid && (angForm.controls['choice4'].dirty || angForm.controls['choice4'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['choice4'].errors.required">
                            Choice 4 is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Correct Option (Only Write A,B,C or D)</label>
                <input type="text" class="form-control" formControlName="correctOption" #correctOption />
            </div>
            <div *ngIf="angForm.controls['correctOption'].invalid && (angForm.controls['correctOption'].dirty || angForm.controls['correctOption'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['correctOption'].errors.required">
                    Correct Answer is required.
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="form-group text-center">
    <button routerLink="/quiz-display" (click)="addQuestion(questionValue.value, choice1.value, choice2.value, choice3.value, choice4.value, correctOption.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Submit</button>
</div>
<br>
<br>