<div class="card" *ngFor="let share of shares | async">
  <div class="card-body text-center">{{ share.questionValue }}</div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-block" role="alert">A. {{ share.choice1 }}</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block" role="alert">B. {{ share.choice2 }}</button>
        </div>
  </div>
  <br/>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-primary btn-block" role="alert">C. {{ share.choice3 }}</button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary btn-block" role="alert">D. {{ share.choice4 }}</button>
      </div>
    </div>
    <div class="card-body text-center">
      <input type="text" 
        class="form-control" 
        placeholder="Input Correct Answer Here" 
        required="required" 
        formControlName="
        correctAnswer" #correctAnswer>
    </div>
  <br/>
</div>