<nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">
  <ul class="navbar-nav">
    <a class="navbar-brand" href="localhost">Quiz App</a>
    <li class="nav-item active">
      <a  routerLink="users" class="nav-link" href="#">User Registration</a>
    </li>
    <li class="nav-item active">
      <a  routerLink="quiz" class="nav-link" href="#">Add Quiz</a>
    </li>
    <li class="nav-item">
      <a  routerLink="quiz-display" class="nav-link" href="#">Quiz Display</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
