<nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">
    <ul class="navbar-nav">
        <a class="navbar-brand">Quiz App</a>
        <li class="nav-item active">
            <a routerLink="users" class="nav-link">User Registration</a>
        </li>
        <li class="nav-item active">
            <a routerLink="quiz" class="nav-link">Add Quiz</a>
        </li>
        <li class="nav-item">
            <a routerLink="quiz-display" class="nav-link">Quiz Display</a>
        </li>
    </ul>
</nav>
<!-- 
<div class="container">
    <app-users></app-users>
</div> -->
<div class="container">
    <router-outlet></router-outlet>
</div>