<div class="login-form">
    <form [formGroup]="userForm" novalidate>
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" formControlName="username" #username>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="emailid" #emailid>
        </div>
        <div class="form-group">
            <button routerLink="/quiz" (click)="addUser(username.value, emailid.value)" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
</div>